/* Product Page */

.fpd-mainbar .fpd-navigation.fpd-primary-bg-color {
    display: none;
}

.student_frame .single-product-image-wrapper {
    width: 100% !important;
}
div#fancy-product-designer-1376 {
    margin: 0 auto;
}

.fpd-product-designer-wrapper {
	max-width: 100%;
}

.fpd-container {
	clear: both !important;
}

.fpd-fullwidth-summary .summary {
	width: 100% !important;
	float: none !important;
}

.fpd-container .fpd-login-info {
	padding: 20px;
	font-size: 14px;
}

.fpd-product-images-hidden .images {
	display: none !important;
}

.fpd-get-quote-enabled .summary .price {
	display: none !important;
}


/* Start Customizing Button */
.fpd-blue-btn {
	background: #3F51B5;
	color: #fff;
	padding: 10px 10px;
}

#fpd-start-customizing-button {
	pointer-events: visible;
	cursor: pointer;
	opacity: 1;
}

#fpd-start-customizing-button.fpd-inline {
	display: inline-block;
	margin-left: 10px;
}

#fpd-start-customizing-button.fpd-block {
	display: block;
	margin: 10px 0;
}

#fpd-start-customizing-button.fpd-disabled {
	display: inline-block;
	min-width: 100px;
	height: 35px;
	padding: 10px;
	opacity: 0.9;
}

.fpd-disabled {
	pointer-events: none;
	cursor: default;
	opacity: 0.6;
}

.fpd-modal-price {
	margin-top: 20px;
	font-size: 18px;
}

.fpd-modal-price:after {
	clear: both;
}

.fpd-customization-required .cart [type="submit"],
.fpd-customization-required [name="fpd_shortcode_form"] [type="submit"] {
	display: none !important;
}

.product-type-variable.fpd-variation-needed #fpd-start-customizing-button {
	display: none;
}


/* Design Sharing */

.fpd-share-design > * {
	float: left;
	margin: 10px 10px 0 0;
}

#fpd-share-button > i {
	margin: 0 5px;
}

.fpd-share-process, .fpd-share-url {
	font-size: 12px;
	font-style: italic;

}

.fpd-share-url {
	vertical-align: text-top;
	line-height: 16px;
}

.fpd-share-widget .jssocials-share-link {
	width: 40px;
	display: block;
}

.fpd-share-design .jssocials-shares, .fpd-share-design .jssocials-share {
	margin-top: 0;
	margin-bottom: 0;
}



/* Shortcode */

form[name="fpd_shortcode_form"] {
	z-index: 0 !important;
}

form[name="fpd_shortcode_form"] > input {
	display: block;
}

.fpd-shortcode-form-text-input {
	width: 100%;
}

.fpd-shortcode-form-text-input.fpd-error {
	background: #ffeeee !important;
}

.fpd-shortcode-price-wrapper {
	font-size: 1.6em;
	opacity: 0;
	-webkit-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}

.fpd-shortcode-price-wrapper.fpd-show-up {
	opacity: 1;
}


/* Theme Check */

.fpd-theme-check-wrapper {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.85);
	z-index: 10000;
}

.fpd-theme-check-wrapper > .fpd-theme-check-content {
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left: -400px;
	width: 800px;
	min-height: 300px;
	background: #fff;
	padding: 20px;
}

.fpd-theme-check-content h4 {
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 20px;
	padding: 0;
}

.fpd-theme-check-content h4 span {
	float: right;
	cursor: pointer;
}

.fpd-theme-check-content p {
	font-size: 12px;
	margin-bottom: 15px;
	padding: 10px;
	clear: both;
}

.fpd-theme-check-content p a {
	color: inherit;
	text-decoration: underline;
}

.fpd-theme-check-content p.fpd-success {
	background-color: #DFF0D8;
	color:#3c763d;
}

.fpd-theme-check-content p.fpd-warning {
	background-color: #FCF8E3;
	color:#8a6d3b;
}

.fpd-theme-check-content p.fpd-error {
	background-color: #F2DEDE;
	color: #a94442;
}

/* Shortcode: Actions */

.fpd-sc-action {
	background: #f0f0f0;
	color: rgba(0,0,0, 0.8);
	font-size: 14px;
	border-radius: 2px;
	cursor: pointer;
	padding: 4px 8px;
	display: inline-block;
	margin: 0 5px 8px 0;
}

.fpd-sc-action:hover {
	opacity: 0.8;
}

.fpd-sc-action > .fpd-label {
	margin-left: 5px;
}

.fpd-sc-action.fpd-layout--text > [class^="fpd-icon-"] {
	display: none;
}


/* Smartphones (portrait and landscape) ----------- */
@media (max-width : 480px) {

}

/* iPads (portrait) ----------- */
@media (max-width : 767px) {



}